<div class="jumbotron bg-light py-5 mb-5">
    <h1 class="display-4 ms-3">Welcome!</h1>
    <hr class="my-4" />
  
    <p class="h4 ms-4 mb-4">Instructions</p>
    <ul class="instructions ms-3">
        <li>
          <p> First, please click on <b>App</b> on the navigation bar to go to functionality.</p>
        </li>
        <li>
          <p>On the first tab, you'll see the input types of text and file and also two buttons: Submit and Reset.</p>
          <p>A user can use both: an input types of text and file to upload the json schema. If the user uploads a file, input will be cleared (if there is text) and disabled.</p>
          <p>The submit button is disabled at the beginning, and if only the user enters or uploads a JSON schema, it becomes active. After submitting, it switches to the second tab, and if the user uploaded the JSON schema in the correct format, a dynamic form will be created.</p>
          <p>Clicking on the reset button will clear and disable the input field, the file uploader, and the form created on the second tab.</p>
        </li>
        <li>
          <p>On the second tab, the user can see the created reactive form. Elements are: <b>input</b>, <b>checkbox</b>, <b>radio</b>, <b>textarea</b>, and the <b>plain text</b> as it was asked in the assignment.</p>
          <p>Additionally, users can add validations to the form fields. I also added convenient error messages for the validations.</p>
        </li>
        <p>You can find the JSON file in the email attachments and also in the project in the <b>src/assets/json</b> folder.</p>
        <p>
          If you need me to add anything else, or if any errors occur, please let me know! :)
        </p>