@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    min-height: 100vh;
    background-color: #b9c6d2;
    background: linear-gradient(
      180deg,
      #b9c6d2 0%,
      #d0dde9 10.45%,
      #edf0f8 41.35%
    );
}
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}
