.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
}
  
.radio-button {
    margin: 5px;
}

.radio-label {
    margin-bottom: 6px;
}

.mat-form-field {
    width:400px;
}

mat-form-field mat-error {
    display: none !important;
}

mat-form-field mat-error:first-child {
    display: block !important;
}